<% layout('layouts/boilerplate') %> 


<div class="card mt-3 offset-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%=perfume.product_image%>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=perfume.productName%> </h5>
        <p class="card-text"><%=perfume.description%> </p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <% if (perfume.quantity>0) { %>
          <div class="card-body">
            <a href="/products/<%=perfume.productId%>/buy" class="btn btn-info">Buy Now</a>
          </div>
        <% } else { %>
          <h3>Item is currently out of stock</h3>  
        <% } %> 
        <% if (isAdmin) { %>
          <div class="card-body">
            <form action="/admin/products/<%=perfume.productId%>?_method=DELETE" method="POST" class="mb-1"> 
              <button class="btn btn-danger">Delete</button>
            </form>
            <a href="/admin/products/<%=perfume.productId%>/update" class="btn btn-info">Update</a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>